

   $font1: "Open Sans", sans-serif;
   
  //  LIGHT
   $light: #ffffff;
   $light2: #ECEDF9;
   $light3: #A1A2B2;
   $primary: #2B3080;
   $button: #0C0E26;
   $pagetext: #000;
   $links: #000;

     //  DARK
     $dark: #000;
     $primary: #2B3080;
     $button: #191D4D;
     $buttontext: #fff;





   /* // Small devices (landscape phones, 576px and up)
   @media (min-width: 576px) {
   
    }
   
   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
   }
   
   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {  }
   
   // X-Large devices (large desktops, 1200px and up)
   @media (min-width: 1200px) {  }
   
   // XX-Large devices (larger desktops, 1400px and up)
   @media (min-width: 1400px) {  }
    */